[submodule "libs/csimple-ecs"]
	path = libs/csimple-ecs
	url = https://github.com/stantonik/csimple-ecs.git
[submodule "libs/cglm"]
	path = libs/cglm
	url = https://github.com/recp/cglm.git
[submodule "libs/stb"]
	path = libs/stb
	url = https://github.com/nothings/stb.git
[submodule "libs/uthash"]
	path = libs/uthash
	url = https://github.com/troydhanson/uthash.git
[submodule "libs/jsmn"]
	path = libs/jsmn
	url = https://github.com/zserge/jsmn.git
